body {
  display: flex;
  justify-content: center;
  background-color: white;
  font-family: HelveticaNeue;
}

@media screen and (min-width: 320px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 50%;
  }

  .contact-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }

  .header {
    grid-column: 1/1;
    text-align: center;
    border: 1px solid orange;
    background-color: #D8D8D8;
  }

  h1 {
    font-family: HelveticaNeue;
    font-size: 2em;
  }

  #favorites {
    grid-column: 1/1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border: 1px solid blue;
    padding: 5px;
  }

  #other-contacts {
    grid-column: 1/1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border: 1px dashed green;
    padding: 5px;
  }

  .contact {
    grid-column: 1/1;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    text-align: left;
    border: 1px solid black;
    padding: 5px;
  }

  .contact-header {
    grid-column: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
    border: 1px solid black;
    padding: 5px;
  }

  .contact-home{
    grid-column: 1/3;
  }

  .star {
    grid-column: 3/4;
    text-align: right;
  }

  .personal {
    grid-column: 1/1;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
  }

  .personal > div {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
  }

}

@media screen and (max-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 50%;
  }

  .contact-list {
    grid-column: 1/1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }

  .header {
    grid-column: 1/1;
    grid-row: 1/2;
    text-align: center;
    border: 1px solid orange;
    background-color: #D8D8D8;
  }

  h1 {
    font-family: HelveticaNeue;
    font-size: 1em;
  }

  #favorites {
    grid-column: 1/2;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border: 1px solid blue;
    padding: 5px;
  }

  #other-contacts {
    grid-column: 1/1;
    grid-row: 4/6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border: 1px dashed green;
    padding: 5px;
  }

  .contact {
    grid-column: 1/1;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border: 1px solid purple;
    padding: 5px;
  }
}