<div class="contact">
  <table>
    <tr>
      <td>
        <div class="image-sm">
          <img src="<%= contact["smallImageURL"] %>">
        </div>
        <div class="image-lg">
          <img src="<%= contact["largeImageURL"] %>">
        </div>
      </td>
      <td>
        <p>
          <%= contact["name"] %>
        </p>
        <p>
          <%= contact["companyName"] %>
        </p>
      </td>
    </tr>
  </table>
</div>
