<div class="contact-list">
  <div class="header">
    <h1>Contacts</h1>
  </div>

  <div id="favorites">
    <span>Favorites</span>
    <% @contacts.each do |contact| %>
      <% if is_favorite(contact) %>
        <a href="/contact/<%= contact["id"] %>">
        <%= erb :"contacts/_contact_table", locals: { contact: contact } %>
        </a>
      <% end %>
  <% end %>
  </div>

  <div id="other-contacts">
    <span>Other Contacts</span>
    <% @contacts.each do |contact| %>
      <% if other_contact(contact) %>
        <a href="/contact/<%= contact["id"] %>">
        <%= erb :"contacts/_contact_table", locals: { contact: contact } %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>