<div class="contact-info">
  <div class="contact-header">
    <div class="home">
      <a href="/">< Contacts</a>
    </div>
    <div class="star">star
    </div>
  </div>

  <div class="personal">
      <p><%= @contact["name"] %></p>
      <% if @contact["companyName" != nil] %>
        <p><%= @contact["name"] %></p>
      <% end %>
    </div>
    <div>
      <p></p>
      <p></p>
    </div>
    <div>
      <p></p>
    </div>
    <div>
      <p></p>
    </div>
    <div>
      <p></p>
    </div>
    <div>
      <p></p>
    </div>
    <div>
      <p></p>
    </div>

  </div>


</div>